<div class="container">
    <app-modal [modalClass]="modalClass" (modalStatus)="modalStatus($event)" [todo]="modalData"></app-modal>
    <app-add-todo [modalClass]="addTodoModal" (closeModelStatus)="addTodoStatus($event)"></app-add-todo>
    <div class="row">
        <div class="col-md-6 main">
            <h1>todo</h1>
            <form>
            <div class="row">
                <div class="col-md-3 col-6">
                        <input type="text" class="form-control" placeholder="Enter id" #searchId>
                    </div>
                    <div class="col-md-3 col-6">
                        <button type="button" class="btn btn-outline-dark "  (click)="searchById(searchId.value)">Search</button>
                    </div>
                    <div class="col-md-5 col-12">
                        <select class="form-control bg-primary text-white" #status (change)="onFilter(status.value)">
                            @for(item of ["all","completed","pending"]; track item){
                            <option class="bg-light text-primary" [value]="item">{{item}}</option>
                            }
                            
                        </select>
                    </div>
                </div>

            </form>
            <hr>
            <div class="content">
                    @if(todoData){

                        <div >

                            @for(item of todoData;track item){
                
                                <div class="list-container" [ngClass]="{'disabled': item.status ==='completed'}">
                                    <input type="checkbox" class="check" [checked]="item.status==='completed'" (change)="checkChange(item.status ==='completed'?'pending':'completed',item.id)">
                                    <label>{{item.description|textShort}}</label> <button class="fn-btn" (click)="onDelete(item.id)">Delete</button><button class="fn-btn" (click)="onView(item)">View</button>
                                </div>
                            }
                        </div>
                    }
                    @if(!todoData){
                        <h6>No Data</h6>
                    }

                <div class="button-container">
                    <button type="button" class="add" (click)="addTodoModal =true">
                        +
                    </button>
                </div>
            </div>


        </div>
    </div>
</div>