<div class="modal fade modal-bg" id="exampleModalCenter" [ngClass]="{'show': modalClass}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content ">
        <form [formGroup]="todoData" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Todo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <label for="" class="choose-radio">Enter Todo
                <input type="radio"  class="form-controler" formControlName="chooseMethod" value="text">
                
            </label>
            <label for="" class="choose-radio">Upload CSV
            <input type="radio" class="form-controler" formControlName="chooseMethod" value="file">

            </label>
            <input type="text" class="form-control"  formControlName="description" *ngIf="todoData.value.chooseMethod && todoData.value.chooseMethod ==='text'">
            <div class="custom-file" *ngIf="todoData.value.chooseMethod && todoData.value.chooseMethod ==='file'">
                <input type="file" class="custom-file-input" #csv (change)="onCsvChange($event)">
                <label class="custom-file-label mt-2" for="validatedCustomFile">{{fileName}}</label>
                
              </div>

            
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Edit</button> -->
          <button type="submit" class="btn btn-primary" >Add</button>
        </div>
        </form>
      </div>
    </div>
  </div>