.show{
    display: block;

    
}

.modal-bg{
    background-color: rgba(0, 0, 0,.3);
    backdrop-filter:blur(4px);
}

textarea{
    /* padding: 0px; */
    white-space: normal;

}

textarea:disabled{
    white-space: normal;
}